@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css);
@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-items {
        @apply p-3
    }

    #sign-up-form li {
        @apply pl-2
    }

    #sign-up-form li:last-of-type {
        @apply mb-0
    }

    #card-container {
        @apply py-8
    }

    .sm-product-card-label {
        @apply bg-black m-4 w-[208px] py-4 text-white rounded shadow-[0_0_0_] relative
    }

    .title-style {
        @apply text-white text-xl font-bold m-8  md:text-3xl
    }

    .shop-card {
        @apply bg-black text-white py-16 w-1/4 font-bold rounded shadow-[0_0_0_] text-xl relative
    }
}

#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)), url(https://images.unsplash.com/photo-1534008757030-27299c4371b6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    box-shadow: 1px 14px 42px -7px rgba(0, 0, 0, 0.75) inset;
    -webkit-box-shadow: 1px 14px 42px -7px rgba(0, 0, 0, 0.75) inset;
    -moz-box-shadow: 1px 14px 42px -7px rgba(0, 0, 0, 0.75) inset;
}

.classic-button {
    color: white;
    background-color: black;
}

#hero h2,
.title-style {
    text-shadow: 6px 6px 5px black;
}

footer li {
    list-style: "💄";
}


#card-container h3,
#samples-title,
.title-style {
    text-shadow: 2px 2px 5px black;
}

.sm-product-card-label {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: all 300ms ease-in-out;
}

.sm-product-card-label:hover,
.shop-card:hover {
    color: #facc15;
}

.sm-product-card-label::before,
.shop-card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: .2rem;
    background-color: white;

    transform: scaleX(0);
    transition: transform 100ms ease-in-out;
}

.sm-product-card-label:hover::before,
.sm-product-card-label:focus::before,
.shop-card:hover::before {
    transform: scaleX(1);
}

.sm-product-card-label::hover img {
    transform: scale(2);
}

.nav-items:hover{
    /* color: gray; */
    font-weight: bold;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width:500px) {
    .sm-product-card-label {
        width: 200px;
        margin-block: .5rem;
        padding: .5rem;
    }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: black #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: black;
    border: 2px solid white;
}

.searchbar{
    background: white url(https://img.icons8.com/ios/30/000/search--v1.png) no-repeat;
    background-position: .5rem ;
}

#resultsWrapper{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.homepage-shop-btn{
    padding: .5rem 1rem;
}

@media screen and (min-width: 768px) {
    .homepage-shop-btn{
        padding: 1rem 2rem;
    }
}